$background-primary: hsl(30, 38%, 92%);
$background-secondary: hsl(0, 0%, 100%);
$background-cyan: hsl(158, 36%, 37%);
$background-cyan-darker: hsl(157, 46%, 17%);

$heading-color: hsl(212, 21%, 14%);
$text-color: hsl(228, 12%, 48%);
