@use '../utilities' as u;
@use 'colors' as c;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: u.rem(27);
  font-family: u.$font-price;
  color: c.$heading-color;
  margin-bottom: u.rem(25);

  @include u.breakpoint-up(small) {
    font-size: u.rem(32);
  }
}

p {
  margin-top: 0;
  font-size: u.rem(14);
  color: c.$text-color;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}
